@model DisplayAllCustomersViewModel

<table class="table table-striped">
    <tr>
        <th>Customer</th>
        <th>Email</th>
        <th>Confirmed Email</th>
    </tr>
    @foreach (var item in Model.Customers)
    {
        <tr>
            <td>@item.UserName</td>
            <td>@item.Email</td>
            <td>@item.EmailConfirmed</td>
        </tr>
    }
</table>