@model LoginViewModel
<div class="container">

    <div class="row">
        <div class="col-lg-6  col-md-8  col-sm-9 col-xs-12">
            <h1 class="text-capitalize text-center">LOG IN FORM</h1>
            <form class="form-horizontal" asp-controller="Account" asp-action="LogIn" method="post" role="form">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="Username" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Username" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Password" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input asp-for="RememberMe"> Remember me
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Log In</button>
                    </div>
                </div>
            </form>
          </div>
      </div>
</div>