<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    Head
    <div>
        @RenderBody()
    </div>
    Foot
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/JS/MyScript.js"></script>
</body>
</html>
