@{
    ViewBag.Title = "Grande Travel About Us";

}
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="container">

    <h2 class="text-center titanHeader">Grande Travel Overview</h2>
    <div class="row">
        <div class="col-lg-6">
            <h2></h2>
            <img src="~/Media/Parachute.jpg" alt="About Us" class="img-rounded img-responsive" id="aboutImg" />
            <h3 class="text-capitalize">About Us</h3>
            <p>
                Welcome to a new breed of leisure wholesaler. Discover Australia with some of the
                best packages you will find anywhere! Find out why we are known as "The Package Kings".
            </p>
            <h3 class="text-capitalize">Our Promise</h3>

            <p>
                Get more out of your holiday with Discover Australia’s team of Specialist Consultants.
                Enjoy more memorable experiences, more luxuries and our special extras... all for less.
            </p>
            <h3 class="text-capitalize">Why Choose Us</h3>

            <ul>
                <li>Hand-Picked Experiences & Hotels</li>
                <li>Specialist Team of Consultants</li>
                <li>Exclusive Package Discounts</li>
                <li>Exclusive Special Bonuses</li>
                <li>Bonus Voucher Book</li>
                <li>Packages Tailored to You</li>
            </ul>
        </div>
       
        <aside class="col-lg-6 col-lg-offset-0 col-md-8 col-sm-offset-2 col-sm-10 text-center" id="SocialMedia">

            <h3 class="text-capitalize"><b>Social Media </b></h3>
            <hr />
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-xs-6">
                    <h4>TWITTER <i class="fa fa-twitter" aria-hidden="true"></i></h4>
                    <a class="twitter-timeline text-center" data-width="250" data-height="450" data-chrome="nofooter noborders" href="https://twitter.com/ThatBucketList"></a>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-6">
                    <h4>FACEBOOK <i class="fa fa-facebook"></i></h4>
                    <div class="fb-page" data-href="https://www.facebook.com/grandtravelandtours/" data-tabs="timeline" data-width="250" data-height="450" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/grandtravelandtours/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/grandtravelandtours/">Grand Travel</a></blockquote>
                    </div>
                </div>

            </div>


        </aside>
        
    </div>
    



</div>
