@{
    ViewBag.Title = "Grande Travel About Us";

}

<div id="bgIndex" class="container"> </div>

<div class="container" id="aboutContent">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <img src="~/Media/Group.jpg" alt="Group Image" id="aboutImg" />
            <h2 class="text-capitalize text-center titanHeader" id="aboutH2">Grande Travel Overview</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h3 class="text-capitalize">About Us</h3>
            <p>
                Welcome to a new breed of leisure wholesaler. Discover Australia with some of the
                best packages you will find anywhere! Find out why we are known as "The Package Kings".
            </p>
            <h3 class="text-capitalize">Our Promise</h3>

            <p>
                Get more out of your holiday with Discover Australia’s team of Specialist Consultants.
                Enjoy more memorable experiences, more luxuries and our special extras... all for less.
            </p>
        </div>
        <div class="col-md-4">
            <h3 class="text-capitalize">Why Choose Us</h3>

            <ul>
                <li>Hand-Picked Experiences & Hotels</li>
                <li>Specialist Team of Consultants</li>
                <li>Exclusive Package Discounts</li>
                <li>Exclusive Special Bonuses</li>
                <li>Bonus Voucher Book</li>
                <li>Packages Tailored to You</li>
            </ul>
        </div>
    </div>



</div>