@{
    ViewBag.Title = "Grande Travel About Us";

}


<div class="container-fluid">

    <h2 class="text-center titanHeader">Grande Travel Overview</h2>
    <div class="row">
        <div class="col-lg-4">
            <h2></h2>
            <img src="~/Media/Parachute.jpg" alt="About Us" class="img-rounded img-responsive" />
        </div>
        <div class="col-lg-4">
            <h3 class="text-capitalize">About Us</h3>
            <p>
                Welcome to a new breed of leisure wholesaler. Discover Australia with some of the
                best packages you will find anywhere! Find out why we are known as "The Package Kings".
            </p>
            <h3 class="text-capitalize">Our Promise</h3>

            <p>
                Get more out of your holiday with Discover Australia’s team of Specialist Consultants.
                Enjoy more memorable experiences, more luxuries and our special extras... all for less.
            </p>
            <h3 class="text-capitalize">Why Choose Us</h3>

            <ul>
                <li>Hand-Picked Experiences & Hotels</li>
                <li>Specialist Team of Consultants</li>
                <li>Exclusive Package Discounts</li>
                <li>Exclusive Special Bonuses</li>
                <li>Bonus Voucher Book</li>
                <li>Packages Tailored to You</li>
            </ul>
        </div>
        <aside class="col-lg-4 col-sm-6">
            <h3 class="text-capitalize">Social</h3>
            <a class="twitter-timeline text-center" data-width="350" data-height="450" data-chrome="nofooter noborders" href="https://twitter.com/ThatBucketList">Tweets by @@ThatBucketList</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            
        </aside>
        
    </div>
    



</div>
