@{
    ViewBag.Title = "Grande Travel Contact";

}


<div class="container">
    <h2 class="text-capitalize text-center titanHeader">Grande Travel Contact</h2>
    <div class="row">
        <div class="col-md-2 col-sm-2 socialMedia">
            <h3 class="text-center">TWITTER <i class="fa fa-twitter" aria-hidden="true"></i></h3>
            <a class="twitter-timeline" data-width="220" data-height="500" data-chrome="nofooter" data-theme="light" data- data-link-color="#2B7BB9" href="https://twitter.com/Australia">Tweets by Australia</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="yaya"></div>
        </div>
        
    </div>
</div>