@{
    ViewBag.Title = "Grande Travel Contact";

}
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<aside class="col-lg-2 col-sm-6">
    <div class="fb-page" data-href="https://www.facebook.com/grandtravelandtours/" data-tabs="timeline" data-width="250" data-height="450" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/grandtravelandtours/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/grandtravelandtours/">Grand Travel</a></blockquote>
    </div>
</aside>