@{ 
    ViewBag.Title = "Grande Travel Landing Page";

}



<div id="landing-header">
    <h1>Welcome to Grande Travel</h1>
    <a asp-area="" asp-controller="TravelPackage" asp-action="Index" class="btn btn-lg btn-info">View All Travel Packages</a>
    <form class="form-inline" id="landingSearch">
                    <input type="text" class="form-control" id="" placeholder="Search Here..">
                    <input type="button" class="btn btn-success" value="Search" />
    </form>
</div>
        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
