


<div id="landing-header">
    <h1>Welcome to Grande Travel</h1>
    <a href="" class="btn btn-lg btn-success">View All Travel Packages</a>
</div>
<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>